* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #1e1e1e, #021b79);
  font-family: "Open Sans", sans-serif;
}

h1 {
  padding-top: 1rem;
  color: #fff;
}

.logo {
  margin-top: 1rem;
  max-height: 100px;
}

.nav {
  margin-bottom: 2px;
  justify-content: flex-end;
}

.right-menu {
  display: flex;
}

.nav-link {
  color: #fff;
  font-size: 1.1em;
}

.nav-link.active {
  padding-bottom: 5px;
  border: 1px white solid;
  border-radius: 5px;
}

.nav-link.btn {
  background-color: goldenrod;
  border-radius: 20px;
  color: white;
  padding: 5px 20px;
  transition: background-color 0.3s ease;
}

.nav-link.btn:hover {
  background-color: #fff;
  border-radius: 20px;
  color: black !important;
  padding: 5px 20px;
  transition: background-color 0.3s ease;
}
.nav-link:hover {
  color: black;
}

.col-md-6 {
  flex: wrap;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

/* Équipe */
.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
}

.person {
  width: calc(50% - 20px);
  margin-bottom: 40px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  background-size: cover;
}

.person h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: whitesmoke;
}

.person p {
  margin-bottom: 15px;
  line-height: 1.6;
  color: white;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.person:nth-child(1) {
  background-image: url("../assets/img/back-ground/Sajed.png");
  filter: drop-shadow(2px 4px 6px black);
}

.person:nth-child(2) {
  background-image: url("../assets/img/back-ground/Marc.png");
  filter: drop-shadow(2px 4px 6px black);
}

.person:nth-child(3) {
  background-image: url("../assets/img/back-ground/Miyad (2).jpg");
  filter: drop-shadow(2px 4px 6px black);
}

.person:nth-child(4) {
  background-image: url("../assets/img/back-ground/Abdou.jpg");
  filter: drop-shadow(2px 4px 6px black);
}

.social-links a {
  display: inline-block;
  margin-right: 10px;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  background-color: #007bff;
  text-decoration: none;
  transition: background-color 0.3s;
}

.social-links a:hover {
  background-color: #0056b3;
}

/* Responsive */
@media (max-width: 768px) {
  .person {
    width: 100%;
  }
}
