.adress-items {
  display: flex;
  flex-direction: row;
  width: 400px;
  border: #3b99e0 2px solid;
}

.card-items {
  display: flex;
  flex-direction: row;
  display: flex;
  flex-direction: row;
  width: 400px;
  border: #3b99e0 2px solid;

}

.form-container {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
  background-color: white;

  justify-content: center;
  margin-top: 2rem;
  margin-left: 12%;
  margin-right: 12%;
  padding: 20px;
  margin-bottom: 64px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container h1 {
  margin-bottom: 20px;
  color: #000;
}

.form-container form {
  margin-left: 10%;
  margin-right: 10%;
}

.form-container label {
  display: block;
  margin-bottom: 10px;
  color: #333;
}

.form-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

input[type="checkbox"],
input[type="radio"] {
  width: 10%;
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.next-button {
  margin: 50%;
  margin-bottom: 0;
  margin-top: 24px;
}

.confirmation-container {
    margin-top: 2rem;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  
  .confirmation-container h1 {
    margin-bottom: 20px;
    color: #000;
  }

  .invoice-btn {
    text-transform: capitalize;
    background-color: #409045;
    color: white;
    width: 175px;
    height: 40px;
    border-radius: 0;
  }
  
  .invoice-btn:hover {
    background-color: #4da553 !important;
    font-size: 18px;
    color: white !important;
  }
  