body {
  margin: 0px;
}

.landing-page-green {
  background: rgb(48, 163, 87);
  background: linear-gradient(
    90deg,
    rgba(48, 163, 87, 1) 0%,
    rgba(117, 227, 154, 1) 100%
  );
  transition: background-color 2s ease;
}

.landing-page-grey {
  background: rgb(173, 176, 176);
  background: linear-gradient(
    90deg,
    rgba(173, 176, 176, 1) 0%,
    rgba(225, 225, 225, 1) 100%
  );
  transition: background-color 2s ease;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-page {
  font-family: "Poppins", sans-serif;
  height: 100%;
  background: linear-gradient(
      30deg,
      rgba(80, 56, 237, 1) 0%,
      rgba(0, 0, 0, 1) 100%      
    ),
    url("../assets/login-background.png") no-repeat;
  transition: background-color 2s ease;
  display: flex;
  flex-direction: row;
}

.login-form-container {
  background-color: white;
  margin-top: 32px;
  margin-bottom: 18px;
  width: 50%;
  height: 618px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px black solid;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.login-form {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50%;
}

.form-email {
  width: 240px;
  padding: 15px;
  padding-left: 60px;
  background: url("../assets/user-icon.png") no-repeat 15px #f3f1ff;
  background-size: 20px;
  border-radius: 20px;
  border-width: 0px;
}

.form-password {
  width: 240px;
  padding: 15px;
  padding-left: 60px;
  background: url("../assets/padlock-icon.png") no-repeat 15px #f3f1ff;
  background-size: 20px;
  border-radius: 20px;
  border-width: 0px;
}

.form-button {
  width: 120px;
  padding: 16px;
  background: url("../assets/button-gradient.png");
  border-radius: 20px;
  color: white;
  border-width: 0px;
}

.form-button:hover {
  background-image: none;
  background-color: #aca1f1;
  cursor: pointer;
}

.form-title {
  font-size: 28px;
  font-weight: 700;
}

.form-subtitle {
  font-size: 16px;
}

.login-presentation-container {
  margin-top: 104px;
  margin-left: 72px;
  width: 25%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px #aba7c4 solid;
  border-radius: 30px;
  backdrop-filter: blur(10px);
}

.login-presentation {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.login-presentation-text {
  color: white;
  font-size: 24px;
  line-height: 32px;
}
.navbar {
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  margin: 4px;
  display: inline;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
