* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #000, silver);
  font-family: "Open Sans", sans-serif;
}

h1 {
  padding-top: 1rem;
  color: #fff;
}

.logo {
  margin-top: 1rem;
  max-height: 120px;
}

.navbar {
  margin: 2rem;
  justify-content: flex-end;
}

.aaa {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-menu {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-link {
  color: #fff;
  font-size: 1.1em;
  text-decoration: none;
}

.nav-link.active {
  padding-bottom: 5px;
  border: 1px white solid;
  border-radius: 5px;
}

.nav-link.btn {
  background-color: #0077ff;
  border-radius: 20px;
  color: white;
  padding: 5px 20px;
  transition: background-color 0.3s ease;
}

.nav-link.btn:hover {
  background-color: #fff;
  border-radius: 20px;
  color: black !important;
  padding: 5px 20px;
  transition: background-color 0.3s ease;
}
.nav-link:hover {
  color: black;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
  color: whitesmoke;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}
